 /* td{
    padding: 0 !important;
    margin: 0 !important;
    border: 1px solid black !important;
  }
  Table{

    border: 1px solid black !important;
    margin-top: 20px;
  }

  tbody {
    border-bottom: 20px solid pink;
  } */